body {
	background-image: url(../images/bg7.jpeg);
	background-position: center center;
	background-size: cover;
	-webkit-background-size; cover;
	-moz-background-size; cover;
	-o-background-size; cover;
	background-repeat: no-repeat;
	color: #f2f2f2; /*off white*/
	height: 100vh;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Kaushan Script', cursive;
	
}
h1{
    font-size: 50px;
    background-color: #333; /*off white*/
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 3px;
}
h2{
	text-transform: uppercase;
	letter-spacing: 5px;
	color: yellow;
}

#me{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 5px;
	border-color: white;
    margin-top: 50px;
    border-style: solid;
}

.bio {
	width: 100%;
	font-size: 10px;
	line-height: 1.5;
	background-color: rgba(51, 51, 51, 0.8);
    /*background-color: #333;*/
    /*opacity: 0.5;*/
}

.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}